/* HEADER - CAROUSEL */
.carousel-container{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.carousel-title {
  position: fixed;
  top: 70%;
  right: 10%;
  color: #fff;
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0 0 0.5em #000;
}

.carousel-img{
  object-fit: cover;
  width: 100%;
  height: auto
}

/* TOOLBAR - SECTION */
.toolbarSection{
  justify-content: center;
}

/* COMMON */
.p0 > div{
  padding:0 !important;
}


/* TECHNOLOGY - SECTION */
.technology-title {
  font-size: 1.5rem !important;
  font-weight: bold;
}

.technology-img-container{
  margin-top:3rem;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:end;
}

.technology-detail-text{
  justify-content: space-between !important;
}

/* WHO - SECTION */
.who-title{
  font-size: 2.5rem;
  font-weight: bold;
}

.who-text{
  line-height: 1.5rem
}

.customers-img-container{
  float:right
}